<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Agregar Telefonos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Agregar Telefonos</h2>
		<div class="row">
			<div class="col-md-6">
			<form action="#" th:action="@{/user/phones/AddP}" th:object="${personphone}"
					method="post">	
				<div class="row">
				
				
					<div class="form-group col-md-6">
							<label for="person" class="col-form-label">Persona asociada</label> <select
								th:field="*{person}">
								<option th:each="per : ${persons}" th:value="${per.personid}"
									class="form-control" th:text="${per.firstname}"
									th:selected="${personphone.person=per}"></option>
							</select> <span th:if="${#fields.hasErrors('person')}"
								th:errors="*{person}" class="text-danger"></span>
					</div>
					
					<div class="form-group col-md-6">
							<label for="phonenumbertype" class="col-form-label">Tipo de Telefono</label> <select
								th:field="*{phonenumbertype}">
								<option th:each="pn : ${phonenumbertypes}" th:value="${pn.phonenumbertypeid}"
									class="form-control" th:text="${pn.name}"
									th:selected="${personphone.phonenumbertype=pn}"></option>
							</select> <span th:if="${#fields.hasErrors('phonenumbertype')}"
								th:errors="*{phonenumbertypeid}" class="text-danger"></span>
					</div>
					
					
					<div class="form-group col-md-6">
						<label for="phone" class="col-form-label">Telefono</label> <input
							type="text" th:field="*{phone}" class="form-control" id="phone"
							placeholder="numero"> 
							<span
								th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
								class="text-danger">
							</span>
					</div>
					
					
					
										
					<div class="row">
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-primary" value="Agregar">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Limpiar">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary" value="Cancelar">
						</div>
					</div>
					
					
					
				</div>
			</form>	
			</div>
		</div>
	</div>
</body>
</html>