<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

	<p style="text-align: center;"><strong>¡Bienvenido!</strong></p>
	<p style="text-align: center;">Credenciales de Administrador:</p>
	<p style="text-align: center;">Usuario: &emsp;&emsp;&emsp;&emsp;admin</p>
	<p style="text-align: center;">Contraseña: &emsp;&emsp;&emsp;&emsp;admin</p>
	<p style="text-align: center;"><br></p>
	<p style="text-align: center;"><br></p> 
	<p style="text-align: center;">Credenciales Operador: </p>
	<p style="text-align: center;">Usuario: &emsp;&emsp;&emsp;&emsp;user</p>
	<p style="text-align: center;">Contraseña: &emsp;&emsp;&emsp;&emsp;user</p>
	
	
	<p style="text-align: center;"><a href="/login">Click aquí para ingresar</a></p>
	<p style="text-align: center;"><br></p>
	<p style="text-align: center;"><br></p>
<p><br></p>
<p><br></p>
</body>
</html>